<div class="button-container">
  <button
    mat-mini-fab
    color="primary"
    matTooltip="Add new user"
    (click)="openDialog()"
  >
    <mat-icon>add</mat-icon>
  </button>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      placeholder="Search"
      name="filterText"
      [(ngModel)]="filterText"
    />
  </mat-form-field>
</div>
<table class="users-table">
  <tr>
    <th *ngFor="let column of columns">
      {{ column }}
    </th>
  </tr>

  <tr *ngFor="let user of users | userFilter: filterText; let i = index">
    <td *ngFor="let column of index">
      {{ user[column] }}
    </td>
    <button
      mat-icon-button
      color="accent"
      matTooltip="Update"
      (click)="editDialog()"
    >
      <mat-icon>create</mat-icon>
    </button>
    <button
      (click)="delete(user.id)"
      mat-icon-button
      color="accent"
      matTooltip="Delete"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </tr>
</table>
