.login{
    width:350px; 
    box-shadow:0 30px 80px rgba(0,0,0,.2);
    border-radius: 10px;
    padding: 1rem;
    margin:auto;
    margin-top:200px;

    h1{
        text-align: center;
        font-weight: bold;
        color:#90A4AE;
        
    }
}


.from {
    display: flex;
    flex-direction: column;
  }
  .form > * {
    width: 100%;
  }